html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-title-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
}

body {
  margin: 0;
  color: var(--secondary-text-color);
  /* link: var(--primary-title-color); */
  font-family: Roboto, sans-serif;
  background-color: var(--secondary-accent-color);
}

/* Reset */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* header start */

.section-nav {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.logo {
  display: flex;
  margin-right: 93px;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  position: relative;
}
.site-nav .item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  /* outline: 1px solid red; */
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.nav {
  display: flex;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item {
  /* outline: 1px solid red; */
  margin-right: 50px;
}

.auth-nav .item:last-child {
  margin-right: 0;
}
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.auth-nav .link-icon {
  fill: var(--secondary-text-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.auth-nav .link:hover,
.auth-nav .link:focus,
.auth-nav .link-icon:hover,
.auth-nav .link-icon:focus,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.link.current-index::after {
  content: "";
  display: flex;
  position: absolute;
  bottom: 0;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(33, 150, 243, 1);
}

.link.current-portfolio::after {
  content: "";
  display: flex;
  position: absolute;
  bottom: 0;
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(33, 150, 243, 1);
}

/* header end */
/* hero start */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/comand.jpg);
  background-size: 1600px, cover;
  text-align: center;

  background-color: #2f303a;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

.hero-button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--secondary-accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* hero end */

/* quality start*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  margin-left: -30px;
}
.quality {
  padding-bottom: 0;
}
.quality-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.qualiti-item {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;

  margin-bottom: 30px;
  text-align: center;
}

/* .quality-icon {
} */

.quality-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.quality-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* qualiti end */

/* service start*/
.service-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.service-list {
  display: flex;
  margin-left: -30px;
}

.service-card {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}
/* service end */
/* team start */
.team {
  background: #f5f4fa;
}
.team-secondary-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  /* flex-wrap: wrap;
  text-align: center; */
}
.social-list-icon {
  fill: #afb1b8;
}

.social-list-link:hover,
.social-list-link:focus,
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  background-color: var(--accent-color);
  fill: var(--secondary-accent-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-card {
  flex-wrap: wrap;
  text-align: center;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* team end */

/* client-start */

.clients-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.client-list {
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-accent-color);
}

.client-link:hover .client-link-icon,
.client-link:focus .client-link-icon {
  fill: var(--accent-color);
}

.client-card {
  background-color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.client-card:hover,
.client-card:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.client-card:not(:last-child) {
  margin-right: 30px;
}
/* 
.client-item {
} */

.client-link-icon {
  fill: #afb1b8;
}

/* client-end */

/* footer start */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.adress {
  font-style: normal;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
}
.logo-footer span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.nav-footer .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}
.nav-footer .link:hover,
.nav-footer .link:focus {
  color: var(--secondary-accent-color);
}
.nav-footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  /* margin-top: 12px; */
  margin-left: 70px;
}

.join-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

.join-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  /* flex-wrap: wrap;
  text-align: center; */
}
.join-list-icon {
  fill: var(--secondary-accent-color);
}

.join-list-item:not(:last-child) {
  margin-right: 10px;
}

.join-list-link:hover,
.join-list-link:focus,
.join-list-link:hover .social-list-icon,
.join-list-link:focus .social-list-icon {
  background-color: var(--accent-color);
  fill: var(--secondary-accent-color);
}

.join-list {
  display: flex;
  justify-content: space-between;
}

/* Portfolio */

/* filters start */
.buttons-list .current {
  color: var(--secondary-accent-color);
  background: var(--accent-color);
}
/* .buttons {
  
} */
.buttons-list {
  display: flex;

  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  cursor: pointer;
  background: #f5f4fa;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
/* filters end */

/* work start */
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.product {
  position: relative;
}

/* ..product:hover::before {
  opacity: 1;
} */

.product::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
}

.work-list-link .product-text {
  position: absolute;
  /* top: 0;
  bottom: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 322px;
  height: 168px;
}

.work-list-link:hover,
.work-list-link:focus {
  opacity: 1;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-title-color);
}

.work-content {
  padding: 20px 24px;
  /* outline: 1px solid tomato; */
  border: 1px solid #eeeeee;
  border-top: none;
}

.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* work end */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.hero-close-btn {
  position: absolute;
  top: 18px;
  right: 12px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
